/*ul.img-list {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 215px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 250px;
}

span.text-content {
	font-family:"Montserrat", sans-serif;
  background: rgba(247,197,30,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(247,197,30,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(247,197,30,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.conten {
    width: 250px;
    height: 215px;
  
}

*/

.proyectos-wrapper {
  margin:0 auto;
  text-align:center;
  padding:25px 0;

}

.contender {
  position: relative;
  width: 250px;
  margin:10px;
  display:inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7c51e;
}

.contender:hover .overlay {
  opacity: 0.5;
}

.textoo {
  font-family: "Montserrat", Sans-serif;
  font-weight:700;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}

.contender:hover .textoo {
  opacity: 1;
}

